doctype html
html
  head
    title Score Keeper's Little Helper
    base(href='/')
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

    link(href="vendor.css", rel="stylesheet")
    link(href="app.css", rel="stylesheet")
  body(ng-app='app')
    div(ng-view)
    script(src="vendor.min.js")
    script(src="app-templates.js")
    script(src="app.min.js")
