.helper
  padding-top 3em
  width 90%
  margin 0 auto
  margin-bottom 3em

  h1, h3
    text-align center

  .time-entry
    margin-bottom 1em
    margin-top 1em

  .form-control
    text-align center
    font-size 3em
    height 2em

.shot-counter
  .add-button
    text-align center
    color #337ab7

  .instructions
    padding 3em
    text-align center

  .well
    margin 0 auto
    width 80%

.home
  margin-top 2em
  background-color darken(#428bca, 6.5%)

.away
  margin-top 2em
  background-color #d9534f

.v-align
  float none
  display inline-block
  vertical-align middle
