.shot-counter
  .row
    .col-xs-12
      h3 {{side}} ({{total()}})
  .row    
    .col-xs-12
      .well(ng-click='addShot()')
        h3 {{period}}
        h3 {{shotCount}}
  .row    
    .col-xs-12
      .instructions Tap to add shot 
